.judul{
    color: red;
    font-weight: bold;
    font-size: 13pt;
}
.deskripsi{
    font-size: 11pt;
}

a:hover{
    color: lightcoral;
}

ul li a{
    font-size: 15pt;
}

ul li a:hover{
    color: lightcyan;
    font-size: 20pt;
}

a.navbar-brand{
    font-size: 21pt;
    color: white;
}
